<?xml version="1.0" encoding="utf-8" ?>
<customConfigurationSection>
  <default path="D:\Result\Default" culture="en-US"/>
  <directories>
    <directory path="D:\MyJS"/>
    <directory path="D:\MyJS2"/>
  </directories>
  <rules>
    <rule filename="([0-9])${0}" destdir="D:\Result\File with numbers in the end" fileaddnumber="false" fileadddate="true" />
    <rule filename="txt${0}" destdir="D:\Result\Txt files" fileaddnumber="true" fileadddate="false" />
  </rules>
</customConfigurationSection>