<?xml version="1.0" encoding="utf-8" ?>
<customConfigurationSection>
  <default Path="D:\Result\Default" Culture="en-US"/>
  <directories>
    <directory Path="D:\MyJS"/>
    <directory Path="D:\MyJS2"/>
  </directories>
  <rules>
    <rule FileName="([0-9])${0}" DestDir="D:\Result\File with numbers in the end" FileAddNumber="false" FileAddDate="true" />
    <rule FileName="txt${0}" DestDir="D:\Result\Txt files" FileAddNumber="true" FileAddDate="false" />
    <rule FileName="html${0}" DestDir="D:\Result\Html files" FileAddNumber="true" FileAddDate="true" />
  </rules>
</customConfigurationSection>