<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Northwind"
         connectionString="Data Source=EPBYBREW0144;Database=Northwind;Trusted_Connection=True;Enlist=False;" 
         providerName     = "SqlServer" />
  </connectionStrings>
</configuration>